
.change-password {
    margin: 30px 205px 10px 250px;
    & table {
    margin-left: 175px;
}
}

#id_old_password {
    width: 200px;
    height: 20px;
}

#id_password {
    width: 200px;
    height: 20px;
}

.change-password-button {
    margin: 25px 250px 5px 225px;
    background-color: #7897c4b0;
    width: 250px;
    height: 25px;
}