.edit_car_new-form {
    padding: 30px 205px 10px 250px;
}

#id_name {
    width: 200px;
    height: 20px;
}

#id_model {
    width: 200px;
    height: 20px;
}

#id_price {
    width: 200px;
    height: 20px;
}

#id_brand {
    width: 200px;
    height: 20px;
}

#id_description {
    resize: none;
}
#id_button {
    margin: 25px 250px 5px 225px;
    background-color: #7897c4b0;
    width: 250px;
    height: 25px;
}
