
.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__navigation__wrapper {
    display: flex;
    width: 100%;
    height: 40px;
    background: cadetblue;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

}

.navigation {
    display: flex;
    gap: 10px;
}

.navigation-item-link {
    padding: 7px;
    color: lightblue;
    position: relative;
    transform: 0.3s ease;
    opacity: 1;
    &:hover {
        background-color: slateblue;
        color: white;
    }
    &:active {
        top: 2px;
        transition: 0.1s ease;
    }
}

.autorization {
    display: flex;
    gap: 10px;
}

.autorization-item-link {
    padding: 10px;
    color: lightblue;
    position: relative;
    transform: 0.3s ease;
    opacity: 1;
    &:hover {
        background-color: slateblue;
        color: white;
    }
    &:active {
        top: 2px;
        transition: 0.1s ease;
    }
}

.header__information__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: steelblue;
    height: 150px;
}

.information__logo {
    max-height: 120px;
    max-width: 120px;
    & img {
        width: 100%;
        height: 100%;
    }
}

.information__phone {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.information__phone-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.operator__logo {
    max-height: 40px;
    max-width: 40px;

    & img {
        width: 100%;
        height: 100%;
    }
}

.information-text-search{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.information__text {
    font-weight: bold;
    font-size: 30px;
    color: honeydew;
}

.information-search {
    display: block;
    flex: 0 1 500px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #a7acb1;
    background: #fff;
}

#search__input {
    padding: 8px 12px 8px 40px;
    width: 100%;
    color: #6d7175;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    &::placeholder {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}

.information-search-img {
    max-height: 20px;
    position: absolute;
    top: 8px;
    left: 12px;
}




.product-card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px; /* Ширина блока карточки */
    border: 1px solid #ccc; /* Граница */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    margin: 20px; /* Отступ */
    padding: 16px; /* Внутренние отступы */
    text-align: center; /* Центрирование текста */
    background-color: #fff; /* Фоновый цвет */
}

.product-image {
    display: flex;
    max-width: 268px;
    max-height: 300px;
    & img {
        width: 100%; /* Ширина изображения */
        height: 100%; /* Автоматическая высота */
        border-radius: 8px; /* Закругленные углы изображения */
        object-fit: contain;
    }
}

.product-title {
    font-size: 1.5em; /* Размер шрифта для названия товара */
    margin: 10px 0; /* Отступы */
}

.product-price {
    font-size: 1.2em; /* Размер шрифта для цены */
    color: #ff5722; /* Цвет текста для цены */
    margin: 10px 0; /* Отступы */
}

.product-description {
    font-size: 1em; /* Размер шрифта для описания */
    color: #555; /* Цвет текста для описания */
    margin: 10px 0; /* Отступы */
}

.detail-button {
    background-color: #007bff; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Без границы */
    padding: 10px 20px; /* Внутренние отступы */
    border-radius: 4px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
    font-size: 1em; /* Размер шрифта кнопки */
}

.buy-button:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении */
}

.main__wrapper {
    display: flex;
    background-color: #7a9bb79c;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}