{% extends 'main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/add_car.css' %}">
{% endblock %}

{% block main %}

<div class="add_car-form">
    <form action="{% url 'api_cars' %}" method="POST" enctype="multipart/form-data" id="cars_form">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button id="id_button" type="button">Отправить данные</button>
    </form>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/add_car_api.js' %}"></script>
{% endblock %}