<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/null.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% if current_theme == 'dark' %}
    <link rel="stylesheet" href="{% static 'css/main_dark.css' %}">
    {% endif %}
    {% block css %}
    {% endblock %}
    <title>Мой проект</title>
</head>
<body>
<div class="header__navigation">
    <div class="container">
        <div class="header__navigation__wrapper">
            <ul class="navigation">
                <li class="navigation-item">
                    <a href="{% url 'main' %}" class="navigation-item-link">
                        Главная
                    </a>
                </li>
                <li class="navigation-item">
                    <a href="{% url 'catalog' %}" class="navigation-item-link">
                        Каталог
                    </a>
                </li>
                <li class="navigation-item">
                    <a href="{% url 'brands' %}" class="navigation-item-link">
                        Бренды
                    </a>
                </li>
                <li class="navigation-item">
                    <a href="{% url 'add_car' %}" class="navigation-item-link">
                        Добавить машину
                    </a>
                </li>
            </ul>
            <!-- Смена тем посредством Django -->
            <div class="{% if current_theme == 'dark' %}dark-theme{% else %}light-theme{% endif %}">
                <form method="post" action="{% url 'current_theme' %}">
                    {% csrf_token %}
                    <button type="submit" class="theme-toggle">
                        {% if current_theme == 'dark' %}🌙{% else %}☀️{% endif %} Сменить тему
                    </button>
                </form>
            </div>
            <!-- Смена тем посредством JS -->
            <!-- Для того чтобы включить смену тем на JS, нужно раскомментировать в static/css/main.css -->
            <!-- с 220 по 272 и закомментировать css для тем Django там же с 278 по 310 строку  -->
            <!-- В этом файле комментируем строки с 45 по 52 и раскомментируем строки ниже по 70 строку -->
            <!--                <div class="value-display">-->
            <!--                    Текущая тема: {{ current_theme }}-->
            <!--                </div>-->
            <!--            <ul>-->
            <!--                <li class="navigation-change-theme">-->
            <!--                    &lt;!&ndash; Чекбокс для управления темой &ndash;&gt;-->
            <!--                    <input type="checkbox" id="themeSwitch" class="theme-checkbox">-->

            <!--                    <div class="container">-->
            <!--                        &lt;!&ndash; Кнопка-переключатель &ndash;&gt;-->
            <!--                        <label for="themeSwitch" class="theme-toggle">Сменить тему</label>-->
            <!--                    </div>-->
            <!--                </li>-->
            <!--            </ul>-->
            <a href="{% url 'cart' %}" class="basket">
                <p>Корзина</p>
                <p>{{ cart|length }}</p>
            </a>
            <ul class="autorization">
                {% if user.is_authenticated %}
                <li class="autorization">
                    <a href="#" class="autorization-item-link">
                        {{ user.username }}
                    </a>
                </li>
                <li class="autorization">
                    <a href="{% url 'user_logout' %}" class="autorization-item-link">
                        Выйти
                    </a>
                </li>
                {% else %}
                <li class="autorization">
                    <a href="{% url 'user_login' %}" class="autorization-item-link">
                        Вход
                    </a>
                </li>
                <li class="autorization">
                    <a href="{% url 'registration' %}" class="autorization-item-link">
                        Регистрация
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="header__information">
    <div class="container">
        <div class="header__information__wrapper">
            <div class="information__logo">
                <img src="{% static 'img/logo.png' %}" alt="">
            </div>
            <div class="information-text-search">
                <p class="information__text">
                    Лучшие автомобили вы найдете только у нас!!!
                </p>
                <div class="search">
                    <search class="information-search">
                        <div class="information-search-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21"
                                 fill="none">
                                <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M8 12.1299C5.791 12.1299 4 10.3389 4 8.12988C4 5.92088 5.791 4.12988 8 4.12988C10.209 4.12988 12 5.92088 12 8.12988C12 10.3389 10.209 12.1299 8 12.1299ZM17.707 16.4229L12.887 11.6029C13.585 10.6219 14 9.42588 14 8.12988C14 4.81688 11.313 2.12988 8 2.12988C4.687 2.12988 2 4.81688 2 8.12988C2 11.4429 4.687 14.1299 8 14.1299C9.296 14.1299 10.492 13.7149 11.473 13.0169L16.293 17.8369C16.488 18.0319 16.744 18.1299 17 18.1299C17.256 18.1299 17.512 18.0319 17.707 17.8369C18.098 17.4459 18.098 16.8139 17.707 16.4229Z"
                                        fill="#5C5F62"
                                />
                            </svg>
                        </div>
                        <input id="search__input" type="text" name="search" placeholder="Поиск" autocomplete="off"/>
                        <div class="search__drop-down"></div>
                    </search>
                </div>
            </div>
            <ul class="information__phone">
                <li class="information__phone-item">
                    <div class="operator__logo">
                        <img src="{% static 'img/operator_logo/a1-logo.png' %}" alt="">
                    </div>
                    <p class="phone__number">
                        +375-44-111-11-11
                    </p>
                </li>
                <li class="information__phone-item">
                    <div class="operator__logo">
                        <img src="{% static 'img/operator_logo/life-logo.png' %}" alt="">
                    </div>
                    <p class="phone__number">
                        +375-25-111-11-11
                    </p>
                </li>
                <li class="information__phone-item">
                    <div class="operator__logo">
                        <img src="{% static 'img/operator_logo/mts-logo.png' %}" alt="">
                    </div>
                    <p class="phone__number">
                        +375-33-111-11-11
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="body__card">
    <div class="container">
        <div class="main__wrapper">
            {% block main %}
            <ul class="product-list">
                {% for car in cars %}
                <li class="product-card-item">
                    <div class="product-image">
                        <img src="{{ car.main_image.image.url }}" alt="{{ car.model }}">
                    </div>
                    <h2 class="product-title">{{ car.model }} {{ car.brand }}</h2>
                    <p class="product-price">{{ car.price }}$</p>
                    <p class="product-description">{{ car.description }}</p>
                    <a href="{% url 'detail' car.id %}" class="detail-button">Подробнее</a>
                </li>
                {% endfor %}

            </ul>

            {% endblock %}

        </div>
    </div>
</div>
{% block js %}

{% endblock %}
<script src="{% static 'js/set_theme.js' %}"></script>
</body>
</html>